:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Fjalla One', sans-serif;
    --colorPrimario: #ffde59;
    --colorSecundario: ;
    --colorClaro: #ffffff;
    --colorOscuro: #000000;
    --grayColor: #8a8a8a;
    --elementBorderFinal: 6px solid black;
    --elementBorderLigero: 3px solid black;
    --elementBorder: 1px solid rgb(128, 128, 128);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    /* border: var(--elementBorder); */
    font-family: var(--fuentePrincipal), var(--fuenteSecundaria);
}

img {
    max-width: 100%;
}


/** LAYOUT LOGINT */

.layout__login {
    gap: 5rem;
    display: grid;
    height: 99.7vh;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    /* border: var(--elementBorder); */
    grid-template-columns: repeat(2, 550px);
}

.layout__global {
    display: grid;
    height: 99.7vh;
    /* border: 1px solid red; */
    /* grid-template-columns: 400px auto; */
    /* grid-template-columns: 250px auto; */
    grid-template-columns: 350px auto;
}

.login__image {
    height: 500px;
    font-size: 5rem;
    text-align: center;
    line-height: 500px;
    color: var(--grayColor);
    border: var(--elementBorder);
}

.login__form {
    display: flex;
    height: 400px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /* border: var(--elementBorder); */
}

.login__form input {
    width: 70%;
    padding: 1.2rem;
    border: var(--elementBorder);
}

.login__form .text__one {
    margin-bottom: 50px;
}

.login__form-text {
    margin-bottom: 5px;
}

.login__form-text input {
    width: 100%;
}

.login__form-button input {
    width: 250px;
    padding: 1.5rem;
}


/** ASIDE LAYOUT */

.layout__sidebar {
    width: 350px;
    display: flex;
    padding: 1rem;
    align-items: center;
    /* height: 99.7vh; */
    flex-direction: column;
    justify-content: space-between;
    /* border: var(--elementBorder); */
    border: var(--elementBorderFinal);
}

.sidebar__logo {
    width: 60%;
    height: 170px;
    border-radius: 15px;
    /* border: var(--elementBorderFinal); */
}

.sidebar__logo img {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    box-shadow: 0 0 0 var(--colorOscuro), 0 0 0 var(--colorOscuro), 0 0 0 var(--colorOscuro), 0 0 0 var(--colorOscuro), 0 0 0 var(--colorOscuro), 0 0 25px var(--colorOscuro);
}

.sidebar__logo p {
    font-size: 3rem;
    line-height: 150px;
    text-align: center;
    color: var(--grayColor);
}

.sidebar__links {
    width: 80%;
}

.sidebar__links p {
    padding: .5rem;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 2rem;
    border: var(--elementBorder);
    background-color: var(--colorPrimario);
    box-shadow: 0 0 0 var(--colorOscuro), 0 0 0 var(--colorOscuro), 0 0 0 var(--colorOscuro), 0 0 0 var(--colorOscuro), 0 0 0 var(--colorOscuro), 0 0 25px var(--colorOscuro);
}

.sidebar__links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--grayColor);
    color: var(--colorOscuro);
}

.sidebar__social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar__social .link {
    font-size: 5rem;
    color: var(--colorOscuro);
}

.sidebar__social p {
    padding: .5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--grayColor);
    border: var(--elementBorder);
}


/* .layout__sidebar {
    width: 250px;
    display: flex;
    padding: 1rem;
    align-items: center;
    /* height: 99.7vh; 
    flex-direction: column;
    justify-content: space-between;
    border: var(--elementBorder);
}

.sidebar__logo {
    width: 90%;
    height: 150px;
    border: var(--elementBorder);
}

.sidebar__logo p {
    font-size: 3rem;
    text-align: center;
    line-height: 150px;
    color: var(--grayColor);
}

.sidebar__links {
    width: 80%;
}

.sidebar__links p {
    padding: .5rem;
    text-align: center;
    border: var(--elementBorder);
}

.sidebar__links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--grayColor);
}

.sidebar__social {
    width: 80%;
}

.sidebar__social p {
    padding: .5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--grayColor);
    border: var(--elementBorder);
} */

.layout__main-one {
    padding: 1rem;
}

.main__one {
    height: 45vh;
    margin-bottom: 2rem;
    border: var(--elementBorder);
}

.main__one--two {
    gap: 5rem;
    height: 45vh;
    display: grid;
    /* border: var(--elementBorder); */
    grid-template-columns: repeat(2, 1fr);
}

.one__two--1 {
    text-align: center;
    line-height: 42vh;
    border: var(--elementBorder);
}

.one__two--2 {
    text-align: center;
    line-height: 42vh;
    border: var(--elementBorder);
}

.one__two--1 p {
    font-size: 3rem;
    text-decoration: none;
    color: var(--grayColor);
}

.one__two--2 p {
    font-size: 3rem;
    text-decoration: none;
    color: var(--grayColor);
}

.layout__main--two {
    padding: 1rem;
    display: grid;
    gap: 6rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

.two__lorem--1 {
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: var(--elementBorder);
    justify-content: space-around;
}

.two__lorem--1 p {
    font-size: 3rem;
    text-decoration: none;
    color: var(--grayColor);
}

.two__lorem--1 div {
    width: 50%;
    padding: 1.5rem;
    text-align: center;
    border: var(--elementBorder);
}

.two__lorem--1 a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--grayColor);
}

.layout__main--three {
    gap: 1rem;
    padding: 1rem;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 500px);
}

.three__one {
    height: 95vh;
    padding: 1rem;
    padding-top: 5rem;
    border: var(--elementBorder);
}

.three__one h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
    color: var(--grayColor);
}

.three__one--descripcion {
    display: flex;
    justify-content: center;
}

.three__one--descripcion p {
    padding: 3rem;
    font-size: 2rem;
    color: var(--grayColor);
    border: var(--elementBorder);
}

.descripcion__text {
    margin-right: 1rem;
}

.main__four--title {
    text-align: center;
    line-height: 45vh;
    color: var(--grayColor);
}

.main__four--title h1 {
    line-height: 43vh;
}

.main__four--phrase {
    gap: 3rem;
    height: 45vh;
    display: grid;
    align-items: center;
    justify-content: center;
    /* border: var(--elementBorder); */
    grid-template-columns: 450px 600px;
}

.main__four--form p input {
    padding: .5rem;
    width: 100%;
}

textarea {
    padding: .5rem;
    width: 100%;
}

.p__button .form__button p {
    width: 30% !important;
    text-align: end;
}


/** HOME ESTYLES */

h1 {
    text-align: center;
    /* font-size: 50px; */
}

.padre {
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
}

.row {
    width: 300px;
    height: 400px;
    border: 1px solid;
}

.row_1 {
    width: 300px;
    height: 400px;
    border: 1px solid;
}

.row_2 {
    width: 300px;
    height: 400px;
    border: 1px solid;
}

img {
    height: 300px;
}

.button__mas {
    background-color: white;
    width: 120px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 100px;
}


/* button {
    background-color: white;
    width: 120px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 100px;
} */

button:hover {
    background-color: gray;
}

.btn__whatsapp {
    right: 40px;
    bottom: 10px;
    font-size: 5rem;
    position: absolute;
    border: none;
    color: green;
    background-color: transparent;
}

.btn__whatsapp:hover {
    background-color: transparent;
}

.footer__container {
    height: 4rem;
    background-color: var(--colorOscuro);
}


/** PROJECT STYLES */

h1 {
    margin: 2rem;
    text-align: center;
}

.container {
    /* border: 1px solid; */
    height: 1000px;
    margin: 10px;
}

.imagenes {
    /* margin: 100px; */
    height: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-evenly; */
    flex-direction: row;
    margin-left: 10px;
}

.box {
    border: var(--elementBorderFinal);
    text-align: center;
    line-height: 100px;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.img {
    margin: 100px;
    height: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-evenly; */
    flex-direction: row;
}

.img3 {
    margin: 100px;
    height: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-evenly; */
    flex-direction: row;
}

.pro {
    height: 100px;
    width: 200px;
}

.btn {
    justify-content: center;
    min-width: 130px;
}


/** CONTACT STYLES */

.title {
    margin-top: 2rem;
    text-align: center;
}

.container {
    margin: 0px auto;
}

.contacto {
    border: var(--elementBorderFinal);
    /* height: 450px; */
    height: 615px;
    width: 500px;
    padding: 2rem 3rem;
    /* margin: 150px 350px; */
    /* margin: 150px 295px; */
    margin: 100px 295px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}

.contacto input {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border: var(--elementBorderLigero);
}

.form-label {
    margin: 0px 20px;
    text-align: center;
    border: 10px;
}


/** ACERCADE STYLES */

.tituloAcercaDe {
    text-align: center;
    /* padding-top: 0.5rem; */
    margin: 2rem;
    text-transform: uppercase;
}

.imagenBannerEmpresa {
    /* border: 1px solid; */
    margin: 2em auto;
    /* width: 40rem; */
    width: 11rem;
    height: 10rem;
    box-shadow: 0 0 0 var(--colorPrimario), 0 0 0 var(--colorPrimario), 0 0 0 var(--colorPrimario), 0 0 0 var(--colorPrimario), 0 0 0 var(--colorPrimario), 0 0 25px var(--colorPrimario);
}

.imagenBannerEmpresa .imgEmpresa {
    height: 10rem;
    width: 40rem;
}

.DescripcionHistoria {
    width: 40rem;
    height: 15rem;
    margin: 2rem auto;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
    text-transform: capitalize;
}

.imgClientes {
    border: 3px solid var(--colorPrimario);
    margin-top: 1rem;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    justify-content: center;
    justify-items: center;
    box-shadow: 0 0 0 var(--colorPrimario), 0 0 0 var(--colorPrimario), 0 0 0 var(--colorPrimario), 0 0 0 var(--colorPrimario), 0 0 0 var(--colorPrimario), 0 0 25px var(--colorPrimario);
}

.containerClientes {
    display: flex;
    justify-content: space-evenly;
}


/* .container {
    width: 50rem;
} */